{% load static %}
{% block footerCont %}
<footer class="nga-footer bottom-0 w-100">
    <div class="container py-5 text-center text-lg-start">
      <div class="row">
        <!-- Technologies Section -->
        <div class="col-12 col-lg-4 mb-3">
          <h2 class="h5">Technologies</h2>
          <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
          <div class="d-flex flex-wrap gap-3">
            <!-- Loop through technologies -->
            {% for tech in technologies %}
            <a type="button" class="nga-btn-social text-decoration-none text-white"
              href="{{ tech.url }}" aria-label="{{ tech.name }}">
              <i class="{{ tech.icon }}"></i> {{ tech.name }}
            </a>
            {% endfor %}
          </div>
        </div>
  
        <!-- Projects Section -->
        <div class="col-12 col-lg-4 mb-3">
          <h2 class="h5">Projects</h2>
          <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
          <ul class="list-unstyled">
            <!-- Loop through projects -->
             <li><a href="/playground" class="text-decoration-none text-white">Playground</a></li>
            {% for project in projects %}
            <li><a href="{{ project.url }}" class="text-decoration-none text-white">{{ project.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
  
        <!-- Companies Section -->
        <div class="col-12 col-lg-4 mb-3">
          <h2 class="h5">Companies</h2>
          <hr class="text-white mb-4 mt-0 d-inline-block" style="width: 120px;">
          <ul class="list-unstyled">
            <!-- Loop through companies -->
            {% for company in companies %}
            <li><a href="{{ company.url }}" class="text-decoration-none text-white">{{ company.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  
    <div class="py-3 text-center" style="background-color: black;">
      <div class="container text-white">
        <p class="mb-2">
          &copy; {{ current_year }} {{ app_name }}. All rights reserved.
        </p>
        <a href="{{ app_website }}" class="text-decoration-none text-white">
          {{ app_website }}
        </a>
      </div>
    </div>
  </footer>
{% endblock %}